# reasonable uwsgi config for staging/development env.

[uwsgi]
{% if uwsgi_http %}
http = {{ uwsgi_host }}:{{ uwsgi_port }}
{% else %}
socket = {{ uwsgi_host }}:{{ uwsgi_port }}
{% endif %}
uid = {{ user }}
chdir = {{ app_path }}
module = {{ wsgi_module }}
home =  {{ app_path }}
virtualenv = {{ venv_path }}
master = true
processes = {{ uwsgi_procnum }}
max-requests = {{ uwsgi_max_requests }}
pythonpath = {{ venv_path }}/bin/python
{% if uwsgi_touch_reload %}
touch-reload = {{ uwsgi_ini_path }}
{% endif %}
env = DJANGO_SETTINGS_MODULE={{ django_settings_module }}
