[program:{{ program_name }}]
priority={{ priority }}
command={{ venv_path }}/bin/uwsgi --ini {{ uwsgi_ini_path }}
directory={{ app_path }}
autostart=true
autorestart=true
startretries=3
stdout_logfile={{ log_path }}/{{ program_name }}-out.log
stdout_logfile_maxbytes=0
stderr_logfile={{ log_path }}/{{ program_name }}-err.log
stderr_logfile_maxbytes=0
user={{ user }}
stopsignal=INT
